In [3]:
import pandas as pd
import sqlite3

In [58]:
conn = sqlite3.connect('FF_data')
cur = conn.cursor()
print("connected to sqlite3 verion:", sqlite3.version)

connected to sqlite3 verion: 2.6.0

In [5]:
cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'").fetchall()

[('RegistryUpload',), ('FracFocusRegistry',), ('fracChronicle',)]

In [119]:
colNames = pd.DataFrame(cur.execute('SELECT * FROM RegistryUpload').description).filter([0]).rename(columns = {0:'columnNames'})
colNames

                columnNames
0                      pKey
1              JobStartDate
2                JobEndDate
3                 APINumber
4               StateNumber
5              CountyNumber
6              OperatorName
7                  WellName
8                  Latitude
9                 Longitude
10               Projection
11                      TVD
12     TotalBaseWaterVolume
13  TotalBaseNonWaterVolume
14                StateName
15               CountyName
16                FFVersion
17              FederalWell
18               IndianWell
19                   Source
20                    DTMOD

In [120]:
conn.close()